<!--<h2>Understanding concepts of Angular!</h2>
<p>
 <label>Name:<b>{{name}}</b></label>
</p>
<p>
  <label>Name in Upper case:<b>{{name|uppercase}}</b></label>
</p>
<p>
  <label>Name in lower case:<b>{{name|lowercase}}</b></label>
</p>
<p>
  <label>Location:{{location}}</label>
</p>
<p>
  <label>Established Date:<b>{{establishedDate}}</b></label>
</p>
<p>
  <label>Established Date:<b>{{establishedDate|date}}</b></label>
</p>
<p>
  <label>Established Date:<b>{{establishedDate|date:'dd-MMM-yyyy'}}</b></label>
</p>
<p>
  <label>Revenue:<b>{{revenue|currency}}</b></label>
</p>
<p>
  <label>Revenue:<b>{{revenue|currency:'EUR'}}</b></label>
</p>
<p>
  <label>Revenue:<b>{{revenue|currency:'INR'}}</b></label>
</p>-->
<h2>Understanding the concepts of angular...</h2>
<p>
  <label>Search Text:<input type="text" [(ngModel)]="searchText"></label>
</p>

<h2>Employee List...</h2>
<table>
 <thead>
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Location</th>
         <th>Salary</th>

     </tr>
 </thead>
 <tbody>
    <tr *ngFor="let emp of employeeList|filter:searchText">
        <td>{{emp.Id}}</td>
        <td>{{emp.Name}}</td>
        <td>{{emp.Location}}</td>
        <td>{{emp.Salary}}</td>
        

    </tr>
 </tbody>

</table>